#!/bin/sh
getColorGreen () {
    echo '\e[0;32m'
}

getColorReset () {
    echo '\e[0m'
}

getColorRed () {
    echo '\e[0;31m'
}

# options
getAdminUser () {
    echo 'USER'
}

getPerconaUser () {
    echo 'PERCONA_USER'
}

getPerconaUserPassword () {
    echo 'PERCONA_USER_PASSWORD'
}

getMasterIp () {
    echo 'MASTER_IP'
}

getPerconaAccessedDb () {
    echo '*'
}